.idea
target/
dbt_packages/
logs/
.DS_Store
notebooks/
.databricks
*.session.sql
*.pyc
__pycache__/
.vscode/
*.ipynb
profiles.yml
.user.yml
/.dbt_plugin
.databrickscfg
!.github/pull_request/profiles.yml
state/
.venv
edr_target/
!/.dbt/profiles.yml